@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.Navber {
   nav {
  width: 100%;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
    display: flex;
    
  }

/* Mobile Navbar */
@media (max-width: 768px) {
  .navbar-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    gap: 8px;
  }

  .navbar-button {
    width: 100%;
  }
}
  }
  
  @media (max-width: 768px) {
    .Navber {
      /* Adjust navbar styles for small screens */
    }
  }


@layer utilities{
    .pushable{
        background:  hsl(30, 83%, 45%);
        border-radius: 2px;
        border: none;
        position: relative;
        color:white;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        padding: 10px 40px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.12);
        cursor: pointer;
        outline-offset: 2px;
}

.front{
    display: block;
    padding: 10px 40px;
    border-radius: 2px;
    margin-top: 10px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(-6px);
}

.pushable:active .front{
    transform: translateY(-2px);
}

.Background1 {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}


.Background2 {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}  
}